.card:hover {
    transform: scale(1.05); 
    z-index: 10; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card, .card-img-top {
    transition: transform 0.3s ease-in-out;
}

.titre{
    margin-block-end: 2%;
}

.display-4 {
    margin-left: 20%;
}